{% extends 'todo_sns/layout.html' %}

{% block title %}世代別のtodoをそれぞれ作りたい{% endblock %}

{% block header %}
<h1 class="display-4 text-primary">世代別のtodoをそれぞれ作りたい</h1>
<p class="caption">※Todoを作成します。</p>
<p>ここにタイムバケットの概要や説明を記述します。</p>
<p>新規登録やログインのリンクもここに配置することができます。</p>

<h1>Todo List</h1>
<p><a href="{% url 'create' %}">新規作成</a></p>

    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">作成</button>
    </form> 
    {% endcomment %}

{% endblock %}

{% block content %}

        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">title</th>
                    <th scope="col">deadline</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
<tbody>
            {% for task in tasks %}
                <tr>
                    <td>
    <select name="task_status_{{ task.pk }}">
        <option value="未対応" {% if not task.is_done  %}selected{% endif %}>未対応</option>
        <option value="対応済み" {% if task.is_done %}selected{% endif %}>対応済み</option>
    </select>
</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.deadline }}</td>
                    <td><a href="{% url 'detail' task.pk %}">詳細</a></td>
                    <td><a href="{% url 'update' task.pk %}">編集</a></td>
                    <td><a href="{% url 'delete' task.pk %}">削除</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

</table>
{% endblock %}
